@{
    ViewData["Title"] = "Hello, Welcome !";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <hr />
    <header>
        <p>
            <text class="text-info">
                 Welcome to the site, visit your all functions!
            </text>
        </p>
    </header>
</div>
